@import url(../all.css);

.today-menu {
  width: 595px;
  height: 326px;
  border: 1px solid rgb(210, 210, 210);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;

  margin-top: 30px;
  margin-left: 100px;
}

.today-menu-info {
  font-size: 14px;
  font-weight: bold;

  display: flex;
  flex-direction: row;

  background-color: transparent;

  margin-top: 10px;
}

.today-menu-info > span {
  font-size: 18px;
  font-weight: bold;
}

.today-menu-title {
  background-color: transparent;
}

input {
  background-color: transparent;
}

input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
  background-color: transparent;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
  background-color: transparent;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
  background-color: transparent;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
  background-color: transparent;
}

input[type="date"] {
  border: none;
  width: 18px;
  height: 18px;

  margin-left: 7px;
  margin-right: 5px;
  background-color: transparent;
}

input[type="date"]:focus {
  border: none;
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  appearance: none;
  background-color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../../img/menu.svg") no-repeat 98% 50%;
  background-size: 18px 18px;
  width: 30px;
  height: 25px;
  border-width: thin;
  background-color: transparent;
}
