@import url(../all.css);

.join {
  width: 600px;
  height: 320px;
  background-color: white;

  display: flex;
  flex-direction: column;

  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(210, 210, 210);

  margin-left: 100px;
  margin-top: 15px;
}

.join-info {
  width: 100%;
  min-height: 56px;
  padding-left: 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(210, 210, 210);

  background-color: transparent;
}

.join > .join-info > img {
  width: 18px;
  height: 18px;

  background-color: transparent;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  margin-right: 12px;
  object-fit: scale-down;
}

.join-title {
  font-size: 14px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin-right: 14px;
  white-space: nowrap;
  display: flex;

  background-color: transparent;
}

.join-items {
  width: 276px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;

  background-color: transparent;

  justify-content: space-evenly;
}

.studyroom {
  width: 50px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  transition: border-bottom 0.1s ease-out 0s;
  color: rgb(0, 103, 188);
  border-bottom: 3px solid rgb(0, 103, 188);
}

.join-content {
  font-size: 14px;
  color: #000;
  background-color: transparent;

  margin-top: 100px;
}
